<template>
    <div style="min-height: 80vh; display: flex; flex-direction: column; align-items: center">
        <nav class="Auth__nav">
            <div class="l-container">
                <div class="Auth__header-logo-group">
                    <img class="logo-full-white" src="/images/Logo-Full-White.svg">
                </div>
                
            </div>
        </nav>
        <center class="Auth__center-content">
        <div class="Auth__card">
            <br>
            <img src="/images/Logo-Full-Colored.svg" style="width: 12em">
            <br>
            <em class="half-opacity">For Health Workers</em>
            <div v-if="isLoading">
                <img width="48px" height="48px" src="../../public/images/circles.svg" style="margin: 1em">
            </div>
            
            <div id="firebaseui-auth-container"></div>
        </div>
        <em style="margin: 2em 1em" class="half-opacity">In partnership with:</em>
        <div class="Auth__partners">
            <div class="Auth__partner Auth__partner--one"></div>
            <div class="Auth__partner Auth__partner--two"></div>
        </div>
        </center>
    </div>
</template>

<style lang="sass">
@import 'https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.css'
</style>

<script>
import {firebase, ui} from '@/modules/firebase.js'
import axios from 'axios'
import {backendURL} from '../config.js'

export default {
    mounted(){
        ui.start('#firebaseui-auth-container', {
            signInFlow: 'popup',
            signInOptions: [
                firebase.auth.GoogleAuthProvider.PROVIDER_ID
            ],
            callbacks: {
                signInSuccessWithAuthResult: async (authResult, redirectURL) => {
                    this.isLoading = true
                    this.$store.commit('setUser', authResult)
                    await firebase.auth().currentUser.getIdToken().then((idToken) => {
                        this.$store.commit('setToken', idToken)

                        axios.get(`${backendURL}/auth/admin`, { headers: { Authorization: `Bearer ${idToken}` } }).then(response => {
                            if(response.data.success){
                                this.$store.commit('setAdmin', true)
                                this.$router.push({name: 'Home'})
                            }
                            else {
                                this.$store.commit('setAdmin', false)
                                this.$router.push({name: 'Home'})
                            }
                        }).catch(error => {
                            this.$store.commit('setAdmin', false)
                            this.$router.push({name: 'Home'})
                        })

                        
                    }).catch(function(error) {
                        window.alert(error)
                        this.$router.push({name: 'Home'})
                    });
                    
                    return false
                    
                },
                
            },
        });
    },
    data: function(){
        return {
            isLoading: false
        }
    }
}
</script>

<style lang="sass">
@import '../style/resources/variables'
// .bufferbar
//     display: none !important
.firebaseui-id-page-callback
    display: none
        
.Auth
    &__nav
        background-color: $color-primary
        height: 4em
        display: flex
        width: 100%
        justify-content: space-between
        align-items: center
        color: white

    &__card
        box-shadow: 0px 2px 4px rgba(0,0,0,0.1)
        padding: 1em
        display: inline-block
    
    &__center-content
        margin: auto
        display: flex
        flex-direction: column

    &__card-title
        color: $color-primary

    &__logo
        
        height: 5em
        width: 5em
        background: url('/images/logo.svg')
        background-size: contain
        background-repeat: no-repeat
        background-position: center
        margin: 1em

    &__header-logo
        
        height: 2.5em
        width: 2.5em
        background: url('/images/logo.svg')
        background-size: contain
        background-repeat: no-repeat
        background-position: center
        margin-right: 1em
        
    &__header-logo-group
        display: flex
        align-items: center

    &__partners
        display: flex
        justify-content: center
        align-items: center

    &__partner
        margin: 0.5em
        width: 5em
        height: 5em
        background-repeat: no-repeat
        background-size: contain
        background-position: center

        &--one
            background-image: url(/images/NAGA_NA_LOGO.png)

        &--two
            background-image: url(/images/naga_city_logo.png)

.firebaseui-id-idp-button
    background-color: #1976D2 !important
    padding: 0em 1em 0em 0.35em

.firebaseui-idp-text
    color: white !important

.firebaseui-idp-icon-wrapper
    background-color: white
    padding: 0.5em
    border-radius: 2px

</style>