<template>
  <div>
  <transition name="show-down">
  <div class="home" v-if="$route.name != 'Patient'">
    <header class="home__navigation">
      <div class="home__navigation-wrapper">
        <nav class="l-space-between l-container l-container--no-margin">
          <div class="l-flex" style="align-items: center">
            <img class="logo-full-white" src="/images/Logo-Full-White.svg">
          </div>
          <div class="l-center-child color-against-primary">
            <div>
              Hi,
              <b v-if="$store.state.auth.user">{{$store.state.auth.user.additionalUserInfo.profile.given_name}}</b>
            </div>
            <!-- <button @click="$store.state.localization.language == 'en' ? $store.commit('setLanguage', 'ph') : $store.commit('setLanguage', 'en') " class="is-primary" style="text-transform: uppercase">
              [ {{$store.state.localization.language}} ]
            </button> -->
            <div :class="$store.state.auth.isAdmin ? 'hide-to-phone' : ''">
              <button v-if="$store.state.auth.isAdmin" @click="$router.push({name: 'Users'})" class="button is-primary is-rounded">
                Manage Users
              </button>
              <button @click="logout" class="button is-primary is-rounded">
                Logout
              </button>
            </div>
            <div class="hide-from-tablet mobile-actions" :class="!$store.state.auth.isAdmin ? 'hide-to-phone' : ''">
              <button @click="showMenu = !showMenu" class="is-primary is-rounded mobile-actions__menu-button">
                <span v-if="!showMenu">Menu</span>
                <span v-else  style="padding-left: 0.5em; padding-right: 0.5em; display: flex; align-items: center">
                  <XIcon size="1.5x"></XIcon>
                </span>
              </button>
              <div class="mobile-actions-menu" v-if="showMenu">
                <ul class="mobile-actions-menu__list">
                  <li @click="$router.push({name: 'Users'})" class="mobile-actions-menu__list-item">
                    Manage Users
                  </li>
                  <li @click="logout" class="mobile-actions-menu__list-item">
                    Logout
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </nav>
        <transition name="show-up">
        <div class="notif-bar notif-bar--success" v-if="$store.state.notification">
          <p>{{$store.state.notification.message}}</p>
          <button class="is-rounded" @click="$router.push($store.state.notification.route)">{{$store.state.notification.buttonText}}</button>
        </div>
        </transition>
        <div class="Tabs">
          <div class="Tabs__wrapper">
            <div
              @click="$route.name == 'Closed' ? $router.replace({name: 'Open'}) : ''"
              class="Tabs__item"
              :class="$route.name != 'Closed' ? 'Tabs__item--active' : ''"
            >{{$store.getters.strCasesForReview}} ({{forReviewCount}})</div>
            <div
              @click="$route.name != 'Closed' ? $router.replace({name: 'Closed'}) : ''"
              class="Tabs__item"
              :class="$route.name == 'Closed' ? 'Tabs__item--active' : ''"
            >{{$store.getters.strReviewedCases}} ({{caseCloseCount}})</div>
          </div>
        </div>
      </div>
    </header>

    <!-- MOBILE VERSION TABLE (hidden from tablets to larger screens)-->

    <div class="viewpager hide-from-tablet">
      <transition :name="$route.name == 'Closed' ? 'to-left' : 'to-right'">
        <div class="slideable" key="1" v-if="$route.name != 'Closed'">
          <table class="table-sort">
              <tr>
                <th>SORT BY:</th>    
                <th @click="sortByDate()" class="hover-pointer">Date Submitted <img src="../../public/images/sort.svg" class="sort-icon"></th>
                <th @click="sortByAssessment()" class="hover-pointer">Assessment <img src="../../public/images/sort.svg" class="sort-icon"></th>
              </tr>
          </table>
          <!-- Open Cases -->
          <!-- <ul style="list-style: none; padding: 0; margin: 0">
            <li v-for="date in open_cases_date_array" :key="date">
              <div class="h-padding color-primary" style="border-bottom: 1px solid gainsboro">
                {{date}}
              </div> -->
              
              <ul v-if="!showListLoader" class="mob-list">
                <li
                  class="list-item"
                  v-for="patient in open_cases"
                  :key="patient.no"
                >
                  <div class="l-space-between l-container h-margin-bottom-small">
                    <b>{{$store.getters.strCaseNumber}} {{patient.pid}}</b>
                    <div class="half-opacity italic" style="margin-right: 0.5em">
                      For Review
                      <!-- <EyeIcon size="1x" v-if="patient.casestatus == 'being-reviewed'"></EyeIcon>
                      {{patient.casestatus == 'for-review' ? 'For Review' : patient.casestatus == 'being-reviewed' ? 'Being Reviewed' : 'Reviewed'}} -->
                    </div>
                  </div>
                  <div class="l-space-between l-container">
                    <div>
                      <div class="h-margin-bottom-small">
                        <span class="half-opacity">{{$store.getters.strGender}}: </span>
                        <span style="text-transform: capitalize">{{patient.gender}}</span>
                        <span class="half-opacity h-margin-left">{{$store.getters.strAge}}: </span>
                        <span>{{calculate_age(patient.birthdate)}}</span>
                      </div>
                      <div>
                        <span class="half-opacity">{{$store.getters.strAssessment}}:</span>
                        <span
                          class="h-margin-left tag"
                          :class="patient.actions.includes('pui') ? 'is-danger' : patient.actions.includes('pum') ? 'is-warning' : 'is-good'"
                        >{{patient.actions.includes('pui') ? 'PUI' : patient.actions.includes('pum') ? 'PUM' : ''}}</span>
                      </div>
                      <div style="margin-top: 0.5em">
                        <span class="half-opacity">{{$store.getters.strDateSubmitted}}: {{makeReadableDate(patient.createdAt)}}</span>
                      </div>
                    </div>
                    <button
                      @click="$router.push('/' + patient.pid)"
                      class="h-no-margin is-rounded"
                      :class="patient.casestatus == 'for-review' ? 'is-primary' : '' "
                      :disabled="patient.casestatus == 'being-reviewed'"
                    >View Case</button>
                  </div>
                </li>
              </ul>
            <!-- </li>
          </ul> -->

        </div>
        <div class="slideable" key="2" v-else>

          <!-- Closed Cases -->
          <!-- <ul style="list-style: none; padding: 0; margin: 0;">
            <li v-for="date in closed_cases_date_array" :key="date">
              <div class="h-padding color-primary" style="border-bottom: 1px solid gainsboro">
                {{date}}
              </div> -->
              <table class="table-sort">
                  <tr>
                    <th>SORT BY:</th>    
                    <th @click="sortByDateReviewed()" class="hover-pointer">Date Reviewed <img src="../../public/images/sort.svg" class="sort-icon"></th>
                    <th @click="sortByAssessment()" class="hover-pointer">Assessment <img src="../../public/images/sort.svg" class="sort-icon"></th>
                  </tr>
              </table>
              <ul v-if="!showListLoader" class="mob-list">
                <li
                  class="list-item"
                  v-for="patient in closed_cases"
                  :key="patient.no"
                >
                  <div class="l-space-between l-container h-margin-bottom-small">
                    <b>{{$store.getters.strCaseNumber}} {{patient.pid}}</b>
                    <div class="half-opacity italic" style="margin-right: 0.5em">
                      Reviewed
                      <!-- <EyeIcon size="1x" v-if="patient.casestatus == 'being-reviewed'"></EyeIcon>
                      {{patient.casestatus == 'for-review' ? 'For Review' : patient.casestatus == 'being-reviewed' ? 'Being Reviewed' : 'Reviewed'}} -->
                    </div>
                  </div>
                  <div class="l-space-between l-container">
                    <div>
                      <div class="h-margin-bottom-small">
                        <span class="half-opacity">{{$store.getters.strGender}}: </span>
                        <span style="text-transform: capitalize">{{patient.gender}}</span>
                        <span class="half-opacity h-margin-left">{{$store.getters.strAge}}: </span>
                        <span>{{calculate_age(patient.birthdate)}}</span>
                      </div>
                      <div>
                        <span class="half-opacity">Assessment:</span>
                        <span
                          class="h-margin-left tag"
                          :class="patient.actions.includes('pui') ? 'is-danger' : patient.actions.includes('pum') ? 'is-warning' : 'is-good'"
                        >{{patient.actions.includes('pui') ? 'PUI' : patient.actions.includes('pum') ? 'PUM' : ''}}</span>
                      </div>
                      <div style="margin-top: 0.5em">
                        <span class="half-opacity">Date Reviewed: {{makeReadableDate(patient.updatedAt)}}</span>
                      </div>
                    </div>
                    <button
                      @click="$router.push('/' + patient.pid)"
                      class="h-no-margin is-rounded"
                      :class="patient.casestatus == 'for-review' ? 'is-primary' : '' "
                      :disabled="patient.casestatus == 'being-reviewed'"
                    >View Case</button>
                  </div>
                </li>
              </ul>
            <!-- </li>
          </ul> -->

        </div>
      </transition>
    </div>

    <!-- DESKTOP VERSION TABLE (hidden to phone screens) -->

    <div class="viewpager hide-to-phone">
      <transition :name="$route.name == 'Closed' ? 'to-left' : 'to-right'">
        <div class="slideable" key="1" v-if="$route.name != 'Closed'">

          <!-- Open Cases -->
          <table cellspacing="0" class="l-container" style="margin-top: 2em">
                <thead>
                  <tr>
                    <th>{{$store.getters.strCaseNumber}}</th>
                    <th @click="sortByDate()" class="hover-pointer">{{$store.getters.strDateSubmitted}} <img src="../../public/images/sort.svg" class="sort-icon"></th>
                    <th>{{$store.getters.strAge}}</th>
                    <th>{{$store.getters.strGender}}</th>
                    <th @click="sortByAssessment()" class="hover-pointer">{{$store.getters.strAssessment}} <img src="../../public/images/sort.svg" class="sort-icon"></th>
                    <th>{{$store.getters.strCaseStatus}}</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody v-if="!showListLoader">
                  <tr v-for="patient in open_cases" :key="patient.pid">
                    <td>{{patient.pid}}</td>
                    <td>{{makeReadableDate(patient.createdAt)}}</td>
                    <td>{{calculate_age(patient.birthdate)}}</td>
                    <td style="text-transform: capitalize">{{patient.gender}}</td>
                    <td>
                      <span
                        class="tag"
                        :class="patient.severity == 'PUI' ? 'is-danger' : patient.severity == 'PUM' ? 'is-warning' : 'is-good'"
                      >{{patient.severity}}</span>
                    </td>
                    <td>
                      <div class="half-opacity italic l-align-center">
                        <EyeIcon
                          size="1x"
                          v-if="patient.casestatus == 'being-reviewed'"
                          style="margin-right: 0.25em"
                        ></EyeIcon>
                        {{patient.casestatus == 'for-review' ? ' For Review' : patient.casestatus == 'being-reviewed' ? ' Being Reviewed' : ' Reviewed'}}
                      </div>
                    </td>
                    <td>
                      <button
                        @click="$router.push('/' + patient.pid)"
                        class="h-no-margin is-rounded"
                        :class="patient.casestatus == 'for-review' ? 'is-primary' : '' "
                        :disabled="patient.casestatus == 'being-reviewed'"
                      >View Case</button>
                    </td>
                  </tr>
                </tbody>
              </table>
        

        </div>
        <div class="slideable" key="2" v-else>

          <!-- Closed cases -->
          <table cellspacing="0" class="l-container" style="margin-top: 2em">
                <thead>
                  <tr>
                    <th>{{$store.getters.strCaseNumber}}</th>
                    <th @click="sortByDateReviewed()" class="hover-pointer">Date Reviewed <img src="../../public/images/sort.svg" class="sort-icon"></th>
                    <th>{{$store.getters.strAge}}</th>
                    <th>{{$store.getters.strGender}}</th>
                    <th @click="sortByAssessment()" class="hover-pointer">{{$store.getters.strAssessment}} <img src="../../public/images/sort.svg" class="sort-icon"></th>
                    <th>{{$store.getters.strCaseStatus}}</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody v-if="!showListLoader">
                  <tr v-for="patient in closed_cases" :key="patient.pid">
                    <td>{{patient.pid}}</td>
                    <td>{{makeReadableDate(patient.updatedAt)}}</td>
                    <td>{{calculate_age(patient.birthdate)}}</td>
                    <td style="text-transform: capitalize">{{patient.gender}}</td>
                    <td>
                      <span
                        class="tag"
                        :class="patient.severity == 'PUI' ? 'is-danger' : patient.severity == 'PUM' ? 'is-warning' : 'is-good'"
                      >{{patient.severity}}</span>
                    </td>
                    <td>
                      <div class="half-opacity italic l-align-center">
                        Reviewed
                      </div>
                    </td>
                    <td>
                      <button
                        @click="$router.push('/' + patient.pid)"
                        class="h-no-margin is-rounded"
                        :class="patient.casestatus == 'for-review' ? 'is-primary' : '' "
                        :disabled="patient.casestatus == 'being-reviewed'"
                      >View Case</button>
                    </td>
                  </tr>
                </tbody>
              </table>
          

        </div>
      </transition>
    </div>

    <!-- LIST LOADER -->
    <!-- Replaced with a global loader in axios interceptor -->
    <!-- Retained the div to set height -->
    <div v-if="showListLoader" class="l-container" style="min-height: 570px">
      <!-- <img src="../../public/images/circles.svg" class="list-loader"> -->
    </div>
    
    <!-- PAGINATION -->
    <div class="pagination l-container">
      <button @click="gotoPreviousPage()" v-bind:disabled="!previousButtonEnabled">Previous</button>
      <button @click="gotoNextPage()" v-bind:disabled="!nextButtonEnabled">Next</button>
    </div>
    <div class="hide-to-phone">
      <em style="margin: 1em; text-align: center;display: block" class="half-opacity">In partnership with:</em>
      <div class="Auth__partners" style="margin-bottom: 2em">
        <div class="Auth__partner Auth__partner--one"></div>
        <div class="Auth__partner Auth__partner--two"></div>
      </div>
    </div>
    <div class="hide-from-tablet" style="border-top: 1px solid gainsboro; display: flex; justify-content: space-between; align-items: center">
            <em class="half-opacity" style="padding: 2em 1em">In partnership with:</em>
            <div style="display: flex; margin-right: 1em">
                <div class="Auth__partner Auth__partner--one" style="width: 3em; height: 3em"></div>
                <div class="Auth__partner Auth__partner--two" style="width: 3em; height: 3em"></div>
            </div>
        </div>
  </div>
  </transition>
  

  <transition :name="$route.name == 'Patient' ? 'show-up' : 'fade'">
  <Patient :key="$route.params.patient" v-if="$route.name == 'Patient'" style="position: fixed; top: 0; left: 0; right: 0; bottom: 0; overflow: auto; z-index: 15"></Patient>
  </transition>
  </div>
</template>

<style lang="sass">
@import '@/style/main'

.logo-full-white
  width: 9em
  
  @include to($tablet)
    margin-left: 1em

.home
  overflow-y: auto
  overflow-x: hidden
  background-color: white
  position: absolute
  bottom: 0
  top: 0
  left: 0
  right: 0

  &__navigation-wrapper
    min-height: 48px
    box-shadow: 0px 2px 4px rgba(0,0,0,0.1)
    background-color: $color-primary
    width: 100%
    
    
  &__navigation
    display: flex
    align-items: center
    position: sticky
    top: 0
    z-index: 10

    

.Tabs
  &__wrapper
    display: flex
    position: sticky
    top: 48px
    background-color: white
    z-index: 10
  &__item
    flex: 1 1 0px
    padding: 1em
    text-align: center
    border-bottom: 2px solid gainsboro
    cursor: pointer
    &:active
      background-color: transparentize($color-primary, 0.8)

  &__item--active
    border-bottom: 2px solid $color-primary
    color: $color-primary

.viewpager
  position: relative

.sort-icon
  width: 10px

.hover-pointer
  cursor: pointer

.table-sort
  margin: 1em 0 0
  border: none

.mob-list
  list-style: none
  padding: 0
  margin-top: 0

.pagination
  text-align: center
  margin: 1em auto 2em !important

.pagination button
  margin: 0
  min-width: 100px
  border-radius: 0
  color: #3c8ad7

.list-loader
  min-height: 570px
  width: 50px
  margin: 0 auto
  display: block

.notif-bar
  background-color: white
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25)
  z-index: 1000
  position: absolute
  width: 100%
  display: flex
  align-items: center
  justify-content: center

  p
    margin: 1em
  button
    min-width: 8em

  &--success
    background-color: #F0FEF7

    button
      border-color: $color-primary
      background-color: white
      color: $color-primary
      

      &:hover
        border-color: lighten($color-primary, 20)
        color: lighten($color-primary, 20)

.mobile-actions
  position: relative

.mobile-actions-menu
  background-color: white
  position: absolute
  z-index: 20
  box-shadow: 0px 2px 2em rgba(0,0,0,0.2)
  color: black
  width: 10em
  right: 0.5em
  top: 3.5em
  cursor: pointer

  &:hover
    display: inline-block

  &__list
    padding: 0
    margin: 0
    list-style: none

  &__list-item
    display: block
    text-align: left
    padding: 1em
    cursor: pointer
    

    & + &
      border-top: 1px solid gainsboro

    &:hover, &:active
      background-color: gainsboro
      
</style>

<script>
export default {

  components: {
    Patient: () => import('./Patient')
  },
  computed: {
    
    // copy patients data from store
    patientsFromStore: function() {
      return this.$store.state.patient.patients;
    },

    forReviewCountFromStore: function() {
      // console.log("this.$store.state.patient.forReviewCount", this.$store.state.patient.forReviewCount);
      return this.$store.state.patient.forReviewCount;
    },

    caseCloseCountFromStore: function() {
      // console.log("this.$store.state.patient.caseClosedCount", this.$store.state.patient.caseClosedCount);
      return this.$store.state.patient.caseClosedCount;
    },

    // all patients with open cases
    open_cases: function() {
      return this.patients
        ? this.patients.filter(patient => !patient.caseClosed && patient.severity)
        : [];
    },

    // all patients with closed cases
    closed_cases: function() {
      return this.patients
        ? this.patients.filter(patient => patient.caseClosed && patient.severity)
        : [];
    },

  },
  watch: {


    // Once patients are loaded, assign it to patients data
    patientsFromStore: {
      immediate: true,
      handler: function(value) {
        if(value.length > 0)
        {
          this.showListLoader = false;
          // console.log("value", value);
          this.pageReferenceStack.push(value[value.length - 1].pid);
          // console.log("pageReferenceStack", this.pageReferenceStack);
          this.patients = JSON.parse(JSON.stringify(value));
          try {
            document.querySelector('.home').scrollTo(0,0)
          }
          catch {

          }
        }
      }
    },

    caseCloseCountFromStore: {
      immediate: true,
      handler: function(value){
        try{
          if(value)
            this.caseCloseCount = value;
          if((this.stage != undefined) &&(this.stage == 2))
          {
            this.evaluateMaxPageNumber(value);
          }
        } catch(er){}
      }
    },

    forReviewCountFromStore: {
      immediate: true,
      handler: function(value){
        try{
          if(value)
            this.forReviewCount = value;
          if((this.stage != undefined) &&(this.stage == 1))
          {
            this.evaluateMaxPageNumber(value);
          }
        } catch(er){}
      }
    },

    page: {
        immediate: true,
        handler: function(value){
          // console.log("page", this.page);
          if(this.page == 1)
          {
            this.previousButtonEnabled = false;
          }
          else
          {
            this.previousButtonEnabled = true;
          }

          if(this.page == this.maxPage)
          {
            this.nextButtonEnabled = false;
          }
          else
          {
            this.nextButtonEnabled = true;
          }
        }
    },

    '$route.name' : {
        handler: function(route, oldValue) { 
            if((oldValue == "Open") || (oldValue == "Closed"))
            {
              this.showListLoader = true;
            }
            else
            {
              this.showListLoader = false;
            }

            if(route == "Open")
            {
              this.stage = 1;
            }
            else if(route == "Closed")
            {
              this.stage = 2;
            }
        },
        deep: true,
        immediate: true
    },

    stage : {
      immediate: true,
      handler: function(stage){
        this.pageReferenceStack = [];
        this.page = 1;
        if(stage == 1)
        {
          this.$store.dispatch('loadPatients', {
            mutate : true,
            limit : 10,
            caseClosed : false
          })
          this.evaluateMaxPageNumber(this.forReviewCount);
        }
        else
        {
          this.$store.dispatch('loadPatients', {
            mutate : true,
            limit : 10,
            caseClosed : true
          })
          this.evaluateMaxPageNumber(this.caseCloseCount);
        }
      }
    }
  },
  methods: {
    logout() {
      this.$store.dispatch('logout')
    },
    calculate_age(dob){
      var arr = dob.split('-')
      
      // console.log(arr)
      var newdob = new Date(arr[0], arr[1], arr[2])
      var diff_ms = Date.now() - newdob.getTime();
      var age_dt = new Date(diff_ms); 
      var age =  Math.abs(age_dt.getUTCFullYear() - 1970);
      // console.log(age)
      return age
    },
    makeReadableDate(sluggified_date) {
      var date = new Date(sluggified_date);
      var y = date.getFullYear();
      var m = date.getMonth() + 1;
      var d = date.getDate();
      m = m < 10 ? "0" + m : m;
      d = d < 10 ? "0" + d : d;

      var months = [
        "Jan",
        "Feb",
        "Mar",
        "Apr",
        "May",
        "Jun",
        "Jul",
        "Aug",
        "Sep",
        "Oct",
        "Nov",
        "Dec"
      ];

      m = months[parseInt(m) - 1];

      return [d, m, y].join(" ");
    },
    sortByDate(){
      try{
        if(this.sortByDateMode == "asc")
        {
          this.sortByDateMode = "desc";
        }
        else
        {
          this.sortByDateMode = "asc";
        }

        this.patients.sort((a, b) => {
          if(this.sortByDateMode == "asc") {
            return a.createdAt - b.createdAt;
          } else {
            return b.createdAt - a.createdAt;
          }
        });
      }catch(er){
        console.log("ERROR", er);
      }
    },
    sortByDateReviewed(){
      try{
        if(this.sortByDateReviewedMode == "asc")
        {
          this.sortByDateReviewedMode = "desc";
        }
        else
        {
          this.sortByDateReviewedMode = "asc";
        }

        this.patients.sort((a, b) => {
          if(this.sortByDateReviewedMode == "asc") {
            return a.updatedAt - b.updatedAt;
          } else {
            return b.updatedAt - a.updatedAt;
          }
        });
      }catch(er){
        console.log("ERROR", er);
      }
    },
    sortByAssessment(){
      try{
        if(this.sortByAssessmentMode == "pui")
        {
          this.sortByAssessmentMode = "pum";
        }
        else
        {
          this.sortByAssessmentMode = "pui";
        }
        
        this.patients.sort((a, b) => {
          var as = (a.severity == "PUI")? 1 : 2;
          var bs = (b.severity == "PUI")? 1 : 2;
          if(this.sortByAssessmentMode == "pui") {
            return as - bs;
          } else {
            return bs - as;
          }
        });

      }catch(er){
        console.log("ERROR", er);
      }
    },
    gotoNextPage(){
      let startAt = this.pageReferenceStack[this.pageReferenceStack.length - 1];
      this.showListLoader = true;
      this.$store.dispatch('loadPatients', {
        mutate : true,
        limit : 10,
        caseClosed : (this.stage == 1)? false : true,
        startAt,
        page: this.page
      });
      this.page++;
    },
    gotoPreviousPage(){
      this.pageReferenceStack.pop();
      this.pageReferenceStack.pop();
      let startAt = this.pageReferenceStack[this.pageReferenceStack.length - 1];
      if((startAt != undefined) || ((startAt == undefined) && (this.page == 2)))
      {
        this.showListLoader = true;
        this.$store.dispatch('loadPatients', {
          mutate : true,
          limit : 10,
          caseClosed : (this.stage == 1)? false : true,
          startAt,
          page: this.page - 2
        });
        this.page--;
      }
    },
    evaluateMaxPageNumber(value){
      let addOne = false;
      let remainder = value % 10;
      if(remainder != 0)
      {
        addOne = true;
      }
      let perfectNumber = value - remainder;
      this.maxPage = perfectNumber / 10;
      if(addOne)
      {
        this.maxPage += 1;
      }
      // console.log("this.maxPage", this.maxPage);
    },
  },
  data: function() {
    return {
      patients: [],
      stage : 1, //1 - for Review, 2 - case close
      caseCloseCount: 0,
      forReviewCount: 0,
      page : 1,
      maxPage : 0,
      pageReferenceStack : [],
      sortByDateMode : "asc",
      sortByDateReviewedMode: "asc",
      sortByAssessmentMode : "pui",
      nextButtonEnabled : true,
      previousButtonEnabled : true,
      showListLoader : true,
      showMenu: false
    };
  }
};
</script>