<template>
    <!-- <div class="Unauthorized">
        <nav class="Auth__nav">
            <div class="l-container">
                <div class="Auth__header-logo-group">
                    <img class="logo-full-white" src="/images/Logo-Full-White.svg">
                </div>
                
            </div>
        </nav>
        <div class="Unauthorized__content l-container">
            <img src="/images/Logo-Full-Colored.svg" style="width: 12em">
            <br>
            <br>
            <p style="margin: 1em auto; max-width: 30em">Oops! It seems that you are either not authorized to view this page, or your session timed out. Please log in again.</p>
            <router-link class="button is-primary is-rounded" :to="{name: 'Auth'}">Back to Login</router-link>
        </div>
    </div> -->
    <div style="min-height: 80vh; display: flex; flex-direction: column; align-items: center">
        <nav class="Auth__nav">
            <div class="l-container">
                <div class="Auth__header-logo-group">
                    <img class="logo-full-white" src="/images/Logo-Full-White.svg">
                </div>
                
            </div>
        </nav>
        <center class="Auth__center-content">
        <div class="Auth__card">
            <br>
            <img src="/images/Logo-Full-Colored.svg" style="width: 12em">
            <br>
            <em class="half-opacity">For Health Workers</em>
            <div v-if="isLoading">
                <img width="48px" height="48px" src="../../public/images/circles.svg" style="margin: 1em">
            </div>
            
            <p style="margin: 1em auto; max-width: 25em; padding: 1em">Oops! It seems that you are either not authorized to view this page, or your session timed out. Please log in again.</p>
            <router-link class="button is-primary is-rounded" :to="{name: 'Auth'}">Back to Login</router-link>
        </div>
        <em style="margin: 2em 1em" class="half-opacity">In partnership with:</em>
        <div class="Auth__partners">
            <div class="Auth__partner Auth__partner--one"></div>
            <div class="Auth__partner Auth__partner--two"></div>
        </div>
        </center>
    </div>
</template>

<style lang="sass">
.Unauthorized
    min-height: 90vh
    display: flex
    flex-direction: column

    &__content
        margin: auto
        text-align: center
</style>