<template>
    <div class="Users">
        <header class="Users__navigation">
        <nav class="l-space-between l-container l-container--no-margin">
            <div class="l-center-child">
            <button @click="$router.go(-1)" class="button is-icon is-flat color-against-primary is-rounded is-large">
                <ArrowLeftIcon size="1.25x"></ArrowLeftIcon>
            </button>
            <h1 class="title title--3 color-against-primary">
                <span class="hide-to-phone">Manage Users</span></h1>
            </div>
            <div class="l-center-child color-against-primary">
            <div>
                Hi,
                <b v-if="$store.state.auth.user">{{$store.state.auth.user.additionalUserInfo.profile.given_name}}</b>
            </div>
            <!-- <button @click="$store.state.localization.language == 'en' ? $store.commit('setLanguage', 'ph') : $store.commit('setLanguage', 'en') " class="is-primary" style="text-transform: uppercase">
                [ {{$store.state.localization.language}} ]
            </button> -->
            <button @click="logout" class="button is-primary is-rounded">
                Logout
            </button>
            </div>
        </nav>
        </header>

        <!-- Desktop Table -->
        <div class="l-container">
            <br><br>
            <div class="l-flex l-align-center">
            <h2>User Management</h2>
            <button class="is-rounded is-primary h-margin-left" @click="modalShown = true">+ Add Users</button>
            </div>
            <div  style="overflow-x:auto;">
            <table cellspacing="0">
                <thead>
                    <th>Name</th>
                    <th>Email Address</th>
                    <th>User Type</th>
                    <th></th>
                </thead>
                <tbody>
                    <tr v-for="user in users" :key="user.uid">
                        <td>{{ user.fullname }}</td>
                        <td>{{ user.email }}</td>
                        <td>
                            <input
                                type="checkbox"
                                style="transform: scale(1.2)"
                                :checked="user.admin"
                                @change="updateUser($event, user.uid, user.fullname)"
                            />
                            Admin
                        </td>
                        <td>
                            <button @click="deleteUser(user.uid)" class="is-primary is-danger is-rounded">Delete User</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            </div>
        </div>
        <!-- End of Desktop Table -->
        <div class="addUserModal" v-if="modalShown">
            <div class="addUserModal__modal">
                <div class="l-space-between" style="align-self: stretch">
                    <div></div>
                    <div>
                        <button class="is-flat is-icon is-rounded" style="font-weight: bold" @click="modalShown = false">
                            <XIcon size="1x"></XIcon>
                        </button>
                    </div>
                </div>
                <div style="display: flex; flex-direction: column; align-items: center; max-width: 100vw; padding: 1em 2em">
                    <h1 class="h-margin-bottom-small">Add new users</h1>
                    <p>Please list down the email addresses that you wish to give access to below.</p>
                    <div style="width: 100%">
                        <br>
                        <div v-for="(email, index) in emails" :key="index" class="l-align-items-center" style="width: 100%">
                            <div class="inline-block">
                                <strong>Full Name</strong>
                                <br>
                                <input v-model="emails[index].name" type="text" style="padding: 0.5em; flex-grow: 1">
                            </div>
                            <div class="inline-block">
                                <strong>Email Address</strong>
                                <br>
                                <input v-model="emails[index].email" type="email" style="padding: 0.5em; flex-grow: 1">
                            </div>
                            <button class="is-icon is-flat" @click="emails.splice(index,1)">
                                <XIcon size="1x"></XIcon>
                            </button>
                        </div>
                        <button @click="emails.push({name : '',email :''})" style="margin: 0 5px">Add user</button>
                        <button @click="sendInvites()" style="width: 100%;" class="is-rounded is-primary">Send Invites</button>
                    </div>
                </div>
                
                
                
            </div>
        </div>
        <div class="hide-to-phone">
            <em style="margin: 1em; text-align: center;display: block" class="half-opacity">In partnership with:</em>
            <div class="Auth__partners" style="margin-bottom: 2em">
                <div class="Auth__partner Auth__partner--one"></div>
                <div class="Auth__partner Auth__partner--two"></div>
            </div>
        </div>
        <div class="hide-from-tablet" style="border-top: 1px solid gainsboro; display: flex; justify-content: space-between; align-items: center">
            <em class="half-opacity" style="padding: 2em 1em">In partnership with:</em>
            <div style="display: flex; margin-right: 1em">
                <div class="Auth__partner Auth__partner--one" style="width: 3em; height: 3em"></div>
                <div class="Auth__partner Auth__partner--two" style="width: 3em; height: 3em"></div>
            </div>
        </div>
        
    </div>
</template>

<style lang="sass">
@import '../style/resources/variables'

.Users
    min-height: 80vh

.addUserModal
    z-index: 200
    position: fixed
    top: 0
    left: 0
    right: 0
    bottom: 0
    background-color: rgba(0,0,0,0.4)
    display: flex
    align-items: center
    justify-content: center
    

    &__modal
        max-height: 90%
        overflow-y: auto
        overflow-x: hidden
        background-color: white
        border-radius: 1em   
        max-width: 100vw
        display: flex
        flex-direction: column
        align-items: center

.Users
    &__navigation
        display: flex
        align-items: center
        position: sticky
        top: 0
        z-index: 10
        min-height: 48px
        box-shadow: 0px 2px 4px rgba(0,0,0,0.1)
        background-color: $color-primary
        width: 100%

button
    &.is-start
        border-top-right-radius: 0
        border-bottom-right-radius: 0
        border-top-left-radius: 2em
        border-bottom-left-radius: 2em
        margin: 0
    &.is-end
        border-top-right-radius: 2em
        border-bottom-right-radius: 2em
        border-top-left-radius: 0
        border-bottom-left-radius: 0
        margin: 0

.inline-block
    display: inline-block
    padding: 5px
</style>

<script>
import axios from 'axios'
import {backendURL} from '../config.js'
export default {
    data: function(){
        return {
            emails: [
                {
                    name : "",
                    email :""
                }
            ],
            modalShown: false,
            users : []
        }
    },
    mounted(){
        let idToken = this.$store.state.auth.token;
        /** auth/admin has been checked on route navigation earlier */
        // axios.get(`${backendURL}/auth/admin`, { headers: { Authorization: `Bearer ${idToken}` } }).then(response => {
        //     if(response.data.success){
        this.$store.commit('setAdmin', true)
        this.$store.dispatch('loadUsers', {
            mutate : true
        });
        //     }
        //     else {
        //         this.$store.commit('setAdmin', false)
        //         this.$router.push({name: 'Home'})
        //     }
        // }).catch(error => {
        //     this.$store.commit('setAdmin', false)
        //     this.$router.push({name: 'Home'})
        // })
    },
    computed : {
        usersFromStore : function(){
            return this.$store.state.users.users;
        }
    },
    watch : {
        usersFromStore : {
            immediate : true,
            handler : function(value){
                this.users = JSON.parse(JSON.stringify(value));
            }
        }
    },
    methods: {
        logout() {
            this.$store.dispatch('logout')
        },
        sendInvites() {
            let emails = JSON.parse(JSON.stringify(this.emails));
            let emailDataObject = [];
            for(let ctr=0; ctr<emails.length; ctr++)
            {
                if((emails[ctr].name.trim() == "") || (emails[ctr].email.trim() == ""))
                {
                    alert("Please complete filling out the fields.");
                    return;
                }
                emailDataObject.push({
                    fullname : emails[ctr].name,
                    email : emails[ctr].email,
                    admin : false
                })
            }

            this.$store.dispatch("inviteUsers", {
                reload : true,
                data : emailDataObject
            })

            this.modalShown = false;
            this.emails = [{"name" : "", "email" : ""}];
        },
        deleteUser(uid) {
            var del = confirm("Are you sure you want to delete this user?");
            if(del)
            {
                this.$store.dispatch("deleteUser", {
                    uid,
                    reload : true
                })
            }
        },
        updateUser(e, uid, fullname) {
            this.$store.dispatch("updateUser", {
                uid,
                fullname,
                admin : e.target.checked,
                reload : true
            })
        }
    }
}
</script>