<template>
    <div class="Tabs">
        <div class="Tabs__wrapper">
        <div
            @click="active = index"
            class="Tabs__item"
            :class="active == index ? 'Tabs__item--active' : ''"
            v-for="title, index in pages" :key="title"
        >{{title}}</div>
        </div>
        <slot v-bind:active="active">

        </slot>
    </div>
</template>

<script>
export default {
    props: ['pages'],
    data: function(){
        return {
            active: 0
        }
    }
}
</script>

<style lang="sass">
@import '../style/resources/variables'
// .Tabs
//     &__wrapper
//         display: flex
//         position: sticky
//         top: 48px
//         background-color: white
//         z-index: 10
//     &__item
//         flex: 1 1 0px
//         padding: 1em
//         text-align: center
//         border-bottom: 2px solid gainsboro
//         cursor: pointer
//         &:active
//           background-color: transparentize($color-primary, 0.8)  
//     &__item--active
//         border-bottom: 2px solid $color-primary
//         color: $color-primary
</style>