.title
    font-weight: bold
    &--1
        font-size: 2em
    &--2
        font-size: 1.5em
    &--3
        font-size: 1.17em
    &--4
        font-size: 1em
    &--5
        font-size: .83em
    &--6
        font-size: .67em

.subtitle
    opacity: 0.5

    &--1
        font-size: 2em
    &--2
        font-size: 1.5em
    &--3
        font-size: 1.17em
    &--4
        font-size: 1em
    &--5
        font-size: .83em
    &--6
        font-size: .67em

.jumbo
    font-size: 6em
    &--1
        font-size: 6em
    &--2
        font-size: 5em
    &--3
        font-size: 4em
    &--4
        font-size: 3em
    &--5
        font-size: 2em

    @include to($phone)
        font-size: 4em
        &--1
            font-size: 4em
        &--2
            font-size: 3.333em
        &--3
            font-size: 2.666em
        &--4
            font-size: 2em
        &--5
            font-size: 1.333em

.bold
    font-weight: bold

.half-opacity
    opacity: 0.5

.italic
    font-style: oblique