<template>
<div id="app">
    <transition name="fade" mode="out-in">
      <router-view></router-view>
    </transition>
    <transition name="fade">
    <div v-show="$store.state.loader" v-if="$route.name != 'Auth' && $route.name != 'Unauthorized'" style="position: fixed; top: 0; left: 0; right: 0; bottom: 0; display: flex; background-color: rgba(255,255,255, 0.8); z-index: 500">
      <div style="margin: auto">
        <img src="../public/images/circles.svg" class="list-loader">
      </div>
    </div>
    </transition>
</div>
</template>

<script>
export default {
  mounted(){

    /** Hide the preloader */
    window.document.querySelector('#preloader').style.opacity = '0'
    window.document.querySelector('#preloader').style.pointerEvents = 'none'
    
    /** Load all patients to vuex store */
    if(this.$route.name == "Open" || this.$route.name == "Home")
    {
      this.$store.dispatch('loadPatients', {
        mutate : true,
        limit : 10,
        caseClosed : false
      })

      this.$store.dispatch('loadPatients', {
        mutate : false,
        mutateCloseCaseCounter : true,
        limit : 1,
        caseClosed : true
      })
    }
    else if(this.$route.name == "Closed")
    {
      this.$store.dispatch('loadPatients', {
        mutate : false,
        mutateForRevieCounter : true,
        limit : 1,
        caseClosed : false
      })

      this.$store.dispatch('loadPatients', {
        mutate : true,
        limit : 10,
        caseClosed : true
      })
    }

  },
  computed: {
    activeTransition: function(){
      if(this.$route){
        return this.$route.name == 'Patient' ? 'show-up' : 'show-down'
      }
      else {
        return 'fade'
      }
    }
  }
}
</script>

<style lang="sass">
#app
  // position: absolute
  // top: 0
  // bottom: 0
  // left: 0
  // right: 0
  // overflow: hidden

.animated-view
  // will-change: transform, opacity
  // position: absolute
  // top: 0
  // left: 0
  // right: 0
  // bottom: 0

</style>